.blog-preview {
    border-bottom: 1px solid #fafafa;
  }

  
  .blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  .blog-preview h2 {
    font-size: 23px;
    color: #5b6a33;
    margin-bottom: 81px;
  
  }
  .blog-preview a{
    text-decoration: none;
  }

  .blog-list {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 100px 100px 0 100px;
    background-size: cover;
}
 
.blog-body-div{
    max-width: 100%;
    margin-top: 15px;
    max-height: 150px;
    min-width: 100px;
    margin-left: 8px;
    overflow: scroll;
    color: rgb(133, 127, 132);
}


.blog-preview{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: 0 100px;
    justify-content: center;
    margin-bottom: 50px;
    padding: 20px;
}

.blog-preview h2{
    display: block;
    text-align: center;
    background-color: #574747;
    color: rgb(240, 23, 23);
    padding: 6px;
    margin: 8px;

}

/* inside article */
.inside-blog-article{
  width: 100%;
  height: 100%;
  margin-top: 100px;
  align-items: center;
  justify-content: center;

  padding: 20px;
  box-shadow: rgba(86, 24, 24, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.inside-blog-article h2{
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f4f4f2;
}

.inside-blog-article p{
  margin-top: 9px;
  color: rgb(15, 11, 6);
  font-weight: 500;
  font-size: 20px;
}

.inside-blog-article span{
  text-transform: uppercase;
  font-family: a;
}

.read-full-blog{
  width: 30%;
  text-align: center;
  margin-top: 15px;
  float: right;
  border-radius: 8px;
}

.blog-details{
  margin: 0 170px;
}