
* {
  margin: 0;
  padding: 0;
  
}

 

.home{
  margin: 0px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.loading{
  margin-top: 200px;
  margin-left: 450px;
  min-height: 200px;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-repeat: no-repeat;
}

 
 
 